html{
    font-size: 62.5%
}
.circulo{
    background-color: rebeccapurple;
    margin: 20rem 40rem 10rem;
    border-radius: 100%;
    width: 20rem;
    height: 20rem;
    padding: 0rem; 
}
.recta{
    height: 6rem;
    width: 70rem;
    margin: 10rem;
    padding: 1rem 4rem 1rem 4rem;
    border-radius:20px;
    text-align: center;
    background-color: rebeccapurple;
    border-radius:20px;
    
    
}
.recta_2{
    height: 3rem;
    width: 50rem ;
    margin: 2rem 20rem 1rem;
    padding: 1rem 4rem 1rem 4rem;
    border-radius:20px;
    text-align: center;
    background-color: black;
    
    
    
}
.recta_3{
    height: 3rem;
    width: 50rem;
     margin: 4rem 20rem 1rem;
    padding:1rem 4rem 1rem 4rem;
    border-radius:20px;
    text-align: center;
    background-color: black;
}
.recta_4{
    height: 40rem;
    width: 70rem;
    margin: 10rem;
    padding: 1rem 4rem 1rem 4rem;
    border-radius:20px;
    text-align: center;
    background-color:coral;
   
}
.recta_5{
    height: 6rem;
    width: 70rem;
    margin: 10rem;
    padding: 1rem 4rem 1rem 4rem;
    border-radius:20px;
    text-align: center;
    background-color:darkslategray;
   
}
